@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] IncidentBotSignalR</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/styles.css"/>
</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <p class="h2 text-light text-center mx-2">IncidentBotSignalR</p>
        </nav>
    </header>

    <main>
        <div class="container ms-0">  
            <h1>Welcome to <span class="color-blue fw-bold">IncidentBot</span>!</h1>
            <p>
                I have been waiting. I've been waiting all day. Waiting for Gus to send one of his men to kill me. And it's you. Who do you know, who's okay with using children, Jesse? Who do you know... who's allowed children to be murdered... hmm? Gus! He has, he has been ten steps ahead of me at every turn. 
            </p>
            <div class="card" style="width: 30rem;">
                <img src="../../wwwroot/img/azureBot.png" class="card-img-top" alt="AzureBotPng">
                <div class="card-body">
                    <h5 class="card-title">Start Call</h5>
                    <p class="card-text">
                        This button will make a HTTP request to the Incident Bot 
                    </p>
                    <a href="#" class="btn btn-primary">Call IncidentBot</a>
                </div>
            </div>
        </div>
    </main>

    

    <footer>
        <div class="container">

        </div>
    </footer>
</body>
</html>